.App {
  text-align: center;
}
select.input100 {
  height: 250px;
  outline: 0;
  border: none;
}
input.form-check-input {
  width: 26px;
  height: 22px;
}
span.txt1 {
  font-size: 15px;
  margin-left: 14px;
}
